@using HCM.Web.ViewModels.Address
@using HCM.Data.Common;
@model AddressViewModel
@{
    ViewData["Title"] = "Add Address";
}


<!-- Add-->
<form class="form text-left"
      asp-area="Administrator"
      asp-controller="Address"
      asp-action="Add"
      method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="text mb-0 required" asp-for="@Model.Location"></label>
            <span asp-validation-for="@Model.Location" class="text-danger"></span>
            <textarea asp-for="@Model.Location" class="form-control" placeholder="Varna, Varna, Bulgaria" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <a type="button" class="btn btn-primary"
           asp-area="Administrator"
           asp-controller="Address"
           asp-action="Index">
            <i class="far fa-window-close"></i>
            Close
        </a>
        <button type="submit" class="btn btn-dark">
            <i class="fas fa-plus"></i>
            Add
        </button>
    </div>
</form>
@section Scripts{
    <script src="~/js/addresesTable.js"></script>
} 