@using System.Web;
@using HCM.Data.Common;
@{
    ViewData["Title"] = "Index";

    // adding elements
    var menuItems = new[] {
        new { destination= "Currency", title="Currencies", icon= "fas fa-yen-sign" },
        new { destination= "Gender", title="Genders", icon= "fas fa-venus-mars" },
        new { destination= "PaymentInterval", title="Payment Intervals", icon= "fas fa-money-check-alt" },
        new { destination= "EvaluationScore", title="Evaluation Scores", icon= "fas fa-star-half-alt" },
        new { destination= "MaritalStatus", title="Marital Statuses", icon= "fas fa-ring" },
        new { destination= "ParentalStatus", title="Parental Statuses", icon= "fas fa-child" },
        new { destination= "Training", title="Trainings", icon= "fas fa-chalkboard-teacher" },
        new { destination= "ProjectStatusCategory", title="Project Status Categories", icon= "fas fa-project-diagram" },
        new { destination= "Address", title="Addresses", icon= "fas fa-location-arrow" },
        new { destination= "Department", title="Departments", icon= "fas fa-building" },
        new { destination= "Company", title="Companies", icon= "fas fa-business-time" },
        new { destination= "Project", title="Projects", icon= "fas fa-flask" },
        new { destination= "Salary", title="Salaries", icon= "fas fa-money-bill-alt" },
        new { destination= "ProjectStatus", title="Project Statuses", icon= "fas fa-project-diagram" },
        new { destination= "DepartmentAddress", title="Department Addresses", icon= "fas fa-globe-europe" },
    };
}

@if (User.IsInRole("Administrator"))
{
    foreach (var item in menuItems)
    {
        <li class="nav-item">
            <a class="nav-link me-2" asp-area=@GlobalConstants.AdministratorRoleName asp-controller="@item.destination" asp-action="Index">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="@item.icon opacity-6 text-dark me-1"></i>
                </div>
                @item.title
            </a>
        </li>
    }
}
