@using System.Web;
@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Administrator"))
{
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="Currency" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-yen-sign opacity-6 text-dark me-1"></i>
            </div>
            Currencies
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="Gender" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-venus-mars opacity-6 text-dark me-1"></i>
            </div>
            Genders
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="PaymentInterval" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-money-check-alt opacity-6 text-dark me-1"></i>
            </div>
            Paymenet Intervals
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="EvaluationScore" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-star-half-alt opacity-6 text-dark me-1"></i>
            </div>
            Evaluation Score
        </a>
    </li>
    <li class="nav-item">

        <a class="nav-link me-2" asp-area="Administrator" asp-controller="MaritalStatus" asp-action="Index">

            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-ring opacity-6 text-dark me-1"></i>
            </div>
            Marital Statuses

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="ParentalStatus" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-child opacity-6 text-dark me-1"></i>
            </div>
            Parental Status
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="Training" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-chalkboard-teacher opacity-6 text-dark me-1"></i>
            </div>
            Trainings

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="ProjectStatusCategory" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-project-diagram  opacity-6 text-dark me-1"></i>
            </div>
            Project Status Category

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="Position" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-user-plus opacity-6 text-dark me-1"></i>
            </div>
            Positions

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="Address" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-location-arrow opacity-6 text-dark me-1"></i>
            </div>
            Addresses

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="Department" asp-action="Index">
            <i class="fas fa-building"></i>
            Departments
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="Company" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-business-time opacity-6 text-dark me-1"></i>
            </div>
            Companies
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link me-2" asp-area="Administrator" asp-controller="Project" asp-action="Index">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-flask opacity-6 text-dark me-1"></i>
            </div>
            Projects
        </a>
    </li>
}
