@using HCM.Web.ViewModels.Position
@using HCM.Data.Common;
@model PositionAddViewModel
@{
    ViewData["Title"] = "Add Position";
}


<!-- Add-->
<form class="form text-left"
      asp-area=@GlobalConstants.AdministratorRoleName
      asp-controller="Position"
      asp-action="Add"
      method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="text mb-0 required" asp-for="@Model.Name"></label>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
            <input asp-for="@Model.Name" class="form-control" placeholder="Company Name" />
        </div>
    </div>
    <div class="modal-footer">
        <a type="button" class="btn btn-primary"
           asp-area=@GlobalConstants.AdministratorRoleName
           asp-controller="Position"
           asp-action="Index">
            <i class="far fa-window-close"></i>
            Close
        </a>
        <button type="submit" class="btn btn-dark">
            <i class="fas fa-plus"></i>
            Add
        </button>
    </div>
</form>
@section Scripts{
    <script src="~/js/positionTable.js"></script>
} 