@using HCM.Web.ViewModels.ManageUser
@using HCM.Data.Common;
@model ManageUserViewModel
@{
    ViewData["Title"] = "Edit ManageUser";
    var roles = Model.Roles.Select(x => new SelectListItem(x.Type, x.Id.ToString()));
}

<link href="~/css/avatar.css" rel="stylesheet" />

<!-- Edit-->
<form class="form text-left"
      asp-area=@GlobalConstants.AdministratorRoleName
      asp-controller="ManageUser"
      asp-action="Edit"
      method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="modal-body">
        <!-- Employee details -->
        <partial name="~/Views/Shared/_EmployeeDetailsPartial.cshtml" for="@Model" />
        <div class="mb-3">
            <label class="text mb-0 required" asp-for="@Model.IsBanned"></label>
            <span asp-validation-for="@Model.IsBanned" class="text-danger"></span>
            <input type="checkbox" asp-for="@Model.IsBanned" />
        </div>
    </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary"
                   asp-area=@GlobalConstants.AdministratorRoleName
                   asp-controller="ManageUser"
                   asp-action="Index">
                    <i class="far fa-window-close"></i>
                    Close
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    Save changes
                </button>
            </div>
</form>

@section Scripts{
    <script src="~/js/manageUserTable.js"></script>
} 