@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<h1>Employee Index</h1>

<form method="post" asp-controller="Home" asp-action="Logout">
    <button class="btn btn-info">Logout</button>
</form>